.body{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
}

.column {
    width: 50%;
}

.text-title {
    color: lightgreen;
}

.lateralmenu {
    width: 40% !important;
}

.text-list {
    color: lightblue;
}

.span-style {
    color: lightgreen;
    text-decoration: underline;
}

.header-style {
    align-items: center;
    justify-content: center;
}

.container-center {
    display: flex;
}

.section{
    border: 1px solid black;
    width: 65%;
    padding: 2%;
}

.not-margin{
    margin: 0px;
}

.orange-text{
    color: orange;
}

.decoration-orange{
    color: orange;
    text-decoration: underline;
}

.footer{
    position: fixed;
    bottom: 0px !important;
    margin: 0px !important;
    padding: 0;
    width: 100%;
    height: 50px;
}

.container-center {
    display: flex;
    align-items: center;
}
  
.header-style {
    margin-left: 1rem;
}